
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>

  <body>
   <div style="display: flex;flex-direction: row;">
       <div style="margin-left:20px;width: 50% ">
           <h1 style="font-size: 12px,font-weight:bold">{{ obj.shop.shop_name}}</h1>
           <p style="font-size: 15px">Order: #{{ obj.order_id}}</p>
           <p style="font-size: 15px">Order placed on: {{ obj.ordered_date}}</p>
       </div>
       <div style="margin-left:20px ;width: 50%">
           <h1 style="font-size: 12px,font-weight:bold">{{ obj.shipping_address.name}}</h1>
           <h1 style="font-size: 15px">{{ obj.shipping_address.address_line_1}} ,</h1>
           <h1 style="font-size: 15px">{{ obj.shipping_address.address_line_2}} ,</h1>
           <h1 style="font-size: 15px">{{ obj.shipping_address.city}} ,</h1>
           <h1 style="font-size: 15px">({{ obj.shipping_address.zip_code}} ),</h1>
           <h1 style="font-size: 15px">{{ obj.shipping_address.phone_number}} </h1>
       </div>
   </div> 
   <div style="margin-left:20px;margin-top: 20px;border-style: solid;width: 30% ;padding: 10px">
       <p style="font-size: 15px,font-weight:bold">Picked by:</p>
       <h1 style="font-size: 12px">{{ obj.delivery_person.first_name}} ,</h1>
       <h1 style="font-size: 12px">{{ obj.delivery_person.contact_number}} ,</h1>
       <h1 style="font-size: 12px">{{ obj.delivery_person.vehicle_number}}</h1>
   </div>
   <div style="margin-left:20px;margin-top: 20px ;width: 50%">
       <p style="font-size: 17px,font-weight:bold">{{ obj.cart.total_items}} item</p>
       <hr style="height:2px;border-width:0;color:gray;background-color:gray">
   </div>
   <table class="table" style="margin-left:20px;margin-top: 20px ;width: 50%">
       <tr>
           <th>Qty</th>
           <th>Description</th>
           <th>Price</th>
       </tr>
       {%for i in obj1.all %}
       <tr>
           <th>{{ i.quantity}}</th>
           <th>{{ i.product.product_name }}</th>
           <th>{{ i.price}}</th>
       </tr>
       {% endfor %}
   </table>
   <div style="margin-left:20px;margin-top: 20px ;width: 50%;align-items: flex-end;">
       <hr>
       <p >Shipping Charges: {{obj.shipping_total}}</p>
       <hr>
       <p>Order Total: {{obj.total}}</p>
   </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
